# dependencies
node_modules

# next.js
.next
out
next-env.d.ts
*.tsbuildinfo

# env
.env*
!.env.example

# logs
*.log

# vercel
.vercel

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
